@import "../../../../../styles/variables.scss";

.chat-message {
  padding: 1.5em;
  border-bottom: 1px solid rgba(142, 146, 151, 0.3);

  .image-wrapper {
    margin-right: 1em;
    height: 50px;
    width: 50px;

    img {
      height: 50px;
      width: 50px;
    }
  }

  .name {
    font-weight: 600;
    color: white;
  }

  .timestamp {
    color: $grey-light;
    display: flex;
    align-self: center;
    margin-left: 15px;
  }

  .message {
    font-size: 1.2em;
    color: white;
  }
}
