<div class="chat-message d-flex">
  <div class="image-wrapper" [routerLink]="'/profile/' + message.sender.id">
    <img [src]="message.sender.photoUrl" />
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex">
      <div class="name">
        {{ message.sender.firstName }} {{ message.sender.lastName }}
      </div>
      <small class="timestamp" *ngIf="message.createdAt"
        >{{ message.createdAt.toDate() | date: "medium" }}
      </small>
    </div>
    <div class="d-flex">
      <div class="message">
        {{ message.message }}
      </div>
    </div>
  </div>
</div>
