<nav class="navbar navbar-expand-sm">
  <div class="container">
    <span class="navbar-brand"
      ><img class="logo" src="./../../../assets/logo.png" alt="logo" />
      <span class="logo-text">Chatty</span>
    </span>
    <div class="page-links">
      <ul class="navbar-nav" *ngIf="currentUser">
        <li class="nav-item">
          <a
            [routerLink]="'/profile/' + currentUser.id"
            routerLinkActive="active"
            class="nav-link"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/chat" routerLinkActive="active" class="nav-link"
            >Chat room</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="authService.logout()">Logut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
