@import "../../../../../styles/variables.scss";

.new-message-wrapper {
  padding: 24px;

  .input-group {
    align-self: flex-end;

    .form-control {
      border-radius: 10px;
      border: 0;
      background-color: #ffffff17;
      caret-color: $grey-light;
      color: white;

      &::placeholder {
        color: $grey-light;
      }

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }

    .btn-submit {
      background-color: $black-light-high;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
        box-shadow: none;
      }

      .send-icon {
        color: #ffffff17;
        font-size: 36px;
        display: flex;
      }
    }
  }
}
