<div class="new-message-wrapper d-flex">
  <div class="input-group">
    <input
      type="text"
      [(ngModel)]="newMessageText"
      class="form-control"
      placeholder="Enter a new message"
      (keyup.enter)="submit(newMessage.value)"
      #newMessage
    />
    <div class="input-group-append">
      <button
        class="btn-submit"
        type="button"
        (click)="submit(newMessage.value)"
      >
        <i class="material-icons send-icon">
          play_circle_filled
        </i>
      </button>
    </div>
  </div>
</div>
