<div class="img-container">
  <div class="pd-top-20"></div>
  <app-chat-icon></app-chat-icon>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="form-wrapper text-center login-container">
      <h2 class="text-center">Signup</h2>
      <form
        class="form-group__container"
        [formGroup]="signupForm"
        (ngSubmit)="submit()"
      >
        <div class="form-group form-group__inputs">
          <label for="first-name-input">First Name</label>
          <input
            type="text"
            class="form-control"
            id="first-name-input"
            formControlName="firstName"
            [ngClass]="{
              'is-invalid': submitted && signupForm.controls.firstName.errors
            }"
          />
          <div
            *ngIf="submitted && signupForm.controls.firstName.errors"
            class="invalid-feedback"
          >
            <div>
              First Name is required
            </div>
          </div>
        </div>
        <div class="form-group form-group__inputs">
          <label for="last-name-input">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="last-name-input"
            formControlName="lastName"
            [ngClass]="{
              'is-invalid': submitted && signupForm.controls.lastName.errors
            }"
          />
          <div
            *ngIf="submitted && signupForm.controls.lastName.errors"
            class="invalid-feedback"
          >
            <div>
              Last Name is required
            </div>
          </div>
        </div>
        <div class="form-group form-group__inputs">
          <label for="email-input">Email</label>
          <input
            type="email"
            class="form-control"
            id="email-input"
            formControlName="email"
            [ngClass]="{
              'is-invalid': submitted && signupForm.controls.email.errors
            }"
          />
          <div
            *ngIf="submitted && signupForm.controls.email.errors"
            class="invalid-feedback"
          >
            <div>
              Email is required
            </div>
          </div>
        </div>
        <div class="form-group form-group__inputs">
          <label for="password-input">Password</label>
          <input
            type="password"
            class="form-control"
            id="password-input"
            formControlName="password"
            [ngClass]="{
              'is-invalid': submitted && signupForm.controls.password.errors
            }"
          />
          <div
            *ngIf="submitted && signupForm.controls.password.errors"
            class="invalid-feedback"
          >
            <div>
              Password is required
            </div>
          </div>
        </div>
        <button type="submit" class="sub-button">
          <div class="anim-arrow"></div>
          <i class="material-icons fs-40">
            arrow_right_alt
          </i>
        </button>
      </form>
    </div>
  </div>
  <small class="registration-link d-flex justify-content-center"
    ><a routerLink="/login">Already have an account?</a></small
  >
</div>
