<div class="img-container">
  <app-chat-icon></app-chat-icon>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="form-wrapper text-center login-container">
      <h2 class="text-center">Signup</h2>
      <form
        class="form-group__container"
        [formGroup]="signupForm"
        (submit)="submit()"
      >
        <div class="form-group form-group__inputs">
          <input
            type="text"
            class="form-control"
            id="first-name-input"
            formControlName="firstName"
          />
          <label for="first-name-input">First Name</label>
        </div>
        <div class="form-group form-group__inputs">
          <input
            type="text"
            class="form-control"
            id="last-name-input"
            formControlName="lastName"
          />
          <label for="last-name-input">Last Name</label>
        </div>
        <div class="form-group form-group__inputs">
          <input
            type="email"
            class="form-control"
            id="email-input"
            formControlName="email"
          />
          <label for="email-input">Email</label>
        </div>
        <div class="form-group form-group__inputs">
          <input
            type="password"
            class="form-control"
            id="password-input"
            formControlName="password"
          />
          <label for="password-input">Password</label>
        </div>
        <button type="submit" class="sub-button">
          <div class="anim-arrow"></div>
          <i class="material-icons fs-40">
            arrow_right_alt
          </i>
        </button>
      </form>
    </div>
  </div>
  <small class="registration-link d-flex justify-content-center"
    ><a routerLink="/login">Already have an account?</a></small
  >
</div>
