@import "styles";
@import "variables";
@import "animations";

.img-container {
  background-image: url("./../../../assets/free.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
}

// .color-overlay {
//   width: 100vw;
//   height: 100vh;
//   background: $main-color;
//   opacity: 0.5;
//   position: absolute;
//   top: 0;
//   z-index: 0;
// }

.login-container {
  h2 {
    margin-bottom: 35px;
    color: white;
  }

  .form-group__container {
    z-index: 2;
    background-color: $black;
    width: 300px;
    padding: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;

    .form-group__inputs {
      // position: relative;

      label {
        // position: absolute;
        // left: 0.5em;
        // bottom: 0em;
        // transition: all 200ms;
        // font-size: 1.2em;
        color: white;
        margin-bottom: 0;
      }

      input {
        background-color: $black;

        border-radius: 0;
        border-top-color: $black;
        border-left-color: $black;
        border-right-color: $black;
        border-bottom-color: $grey-light;
        border-bottom-width: 2px;
        // border: 1px solid black;

        &:focus {
          outline: none;
          box-shadow: none;
          border-bottom-color: white;
        }

        // &:focus + label {
        //   transform: translateY(-1.3em);
        //   font-size: 1em;
        // }
      }
    }

    .sub-button {
      margin-top: 20px;
      background-color: $black-light-high;
      width: 100%;
      box-shadow: none;
      border-style: none;
      position: absolute;
      bottom: 0px;
      height: 40px;
      left: 0;
      border-bottom-right-radius: 20px;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $grey-light;
        cursor: pointer;
      }
    }
  }
}

.registration-link {
  margin-top: 20px;
  a {
    color: white;
    font-size: 1.3em;
  }
}

.fs-40 {
  font-size: 40px;
  animation: arrowfly 2s ease-out infinite;
  position: relative;
  color: white;
}

.required {
  color: red;
}

.pd-top-150 {
  padding-top: 150px;
}
