/* You can add global styles to this file, and also import other style files */
@import "variables";
* {
  box-sizing: border-box;
}

.alert-danger {
  background-color: #fff;
  border-color: #4a148c;
  color: black;
}

.alert-success {
  background-color: #7b1fa2;
  border-color: #4a148c;
  color: #fff;
}
