/* You can add global styles to this file, and also import other style files */
@import "variables";
* {
  box-sizing: border-box;
}

.alert-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
  font-weight: 700;
  border-radius: 15px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #d4edda;
  color: black;
  font-weight: 700;
  border-radius: 15px;
}
