@import "../styles/variables.scss";

.alert-wrapper {
  position: relative;
  // animation: slideIn 7s ease-in-out;

  alert {
    position: absolute;
    right: 150px;
    top: 50px;
    width: 250px;
    z-index: 10;
  }
}

@keyframes slideIn {
  0% {
    top: 0;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 100px;
  }
}
