<app-navbar></app-navbar>
<div class="wrapper-profile">
  <div class="container">
    <div class="row justify-content-center pd-top-50 pd-bottom-30">
      <div
        class="col-xs-12 col-sm-8 col-md-6"
        *ngIf="currentUser; else noPhoto"
      >
        <img
          *ngIf="!downloadUrl"
          alt="profile-pic"
          [src]="currentUser.photoUrl"
          class="rounder-circle mx-auto d-block profile-pic"
        />
        <img
          *ngIf="downloadUrl && downloadUrl.length > 0"
          alt="profile-pic"
          [src]="downloadUrl"
          class="rounder-circle mx-auto d-block profile-pic"
        />
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="currentUser">
      <div class="col-xs-12 col-sm-8 col-md-4">
        <input
          class="input-edit-profile"
          type="file"
          (change)="uploadFile($event)"
        />
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="currentUser">
      <div class="col-xs-12 col-sm-8 col-md-4 justify-content-center d-flex">
        <input
          class="input-edit-profile"
          type="text"
          [(ngModel)]="currentUser.firstName"
        />
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="currentUser">
      <div class="col-xs-12 col-sm-8 col-md-4 justify-content-center d-flex">
        <input
          class="input-edit-profile"
          type="text"
          [(ngModel)]="currentUser.lastName"
        />
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="currentUser">
      <div class="col-xs-12 col-sm-8 col-md-4 quote">
        <input
          class="input-edit-profile"
          type="text"
          [(ngModel)]="currentUser.quote"
        />
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="currentUser">
      <div class="col-xs-12 col-sm-8 col-md-4 jtext-center">
        <button class="button-profile" (click)="save()">Save Profile</button>
      </div>
    </div>
  </div>

  <ng-template #noPhoto>
    <div class="no-photo d-flex justify-content-center align-items-center">
      No photo
    </div>
  </ng-template>
</div>
